@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

.header-block{
    background: #6b7280;
    padding: 10px 20px ;
    display: flex;
    flex-direction: column-reverse;
}

.link__to-profile{
    margin-top: 10px;
}

.link__to-profile>a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.body__block{
    margin-top: 50px;
}

.table__container{
    width: 100%;
}


.message_user{
    max-width: 250px;
}

